
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  background: hsl(180, 37%, 73%);
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: hsl(257, 7%, 63%);
  background-color: #fff
}
.navbar{
  margin: 20px 0;
}
.navbar-nav .nav-item{
  margin-left: 10px;
}
.navbar-nav .nav-item .signup{
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  border-radius: 20px;
  padding: 9px 25px;
}
.navbar a{
  color: hsl(257, 7%, 63%);
  font-size: 14px;
  font-weight: bold;
}
.navbar a:hover{
  color: hsl(260, 8%, 14%);
}

.ham{
  font-size: 30px;
  display: none;
}

.no-display{
  display: none;
}
.mini-nav{
  background: hsl(257, 27%, 26%);
  text-align: center;
  padding: 25px 20px;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  transition: 0.5s;
}
.mini-nav a{
  color: #fff;
}
.mini-nav a:hover{
  color: hsl(260, 8%, 14%);
}
.mini-nav .signup{
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  border-radius: 20px;
  padding: 9px 25px;
}


.main{
  background-color: #fff;
}
.ad-container{
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
}
.ad{
  width: 55%;
  margin-left: 125px;
}

.ad h1{
  padding-top: 30px;
  font-size: 75px;
  font-weight:bold;
  color: hsl(260, 8%, 14%);;
}
.ad a{
  background-color: hsl(180, 66%, 49%);
  border-radius: 25px;
  padding: 10px 35px;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
}

.stat{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: rgb(240, 240, 240);
  color: hsl(257, 7%, 63%);
}
.stat h1, h3{
  color: hsl(255, 11%, 22%);
}
.stat-flex{
  display: flex;
}
.stat-head{
  text-align: center;
  margin-bottom: 100px;
}

.cols{
  background-color: #fff;
  font-size:medium;
  padding: 5px 30px 30px 30px;
  /* margin: 10px; */
}
#fir{
  border-bottom: 50px solid rgb(240, 240, 240);
}
#sec{
  border-top: 50px solid rgb(240, 240, 240);
  border-bottom: 25px solid rgb(240, 240, 240);
  
}
#thir{
  border-top: 100px solid rgb(240, 240, 240);
}
#line{
  width: 70px;
  padding: 0;
  background-color: hsl(180, 66%, 49%);
  border-top: 160px solid rgb(240, 240, 240);
  border-bottom: 195px solid rgb(240, 240, 240);
}

.foot{
  text-align: center;
  padding: 50px 0;
  color: #fff;
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-boost-desktop.svg);
}
.foot p{
  font-size: large;
}
.foot a{
  background-color: hsl(180, 66%, 49%);
  border-radius: 30px;
  padding: 15px 55px;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
}
footer{
  padding-top: 50px;
  background: hsl(260, 8%, 14%);
  color: #fff;
}
footer a {
  color: hsl(257, 7%, 63%);
}
footer a:hover{
  color: hsl(180, 66%, 49%);
}
.socials a{
  color: #fff;
}
.logo{
  text-align: center;
  color: #fff;
}
footer h5{
  font-size: 17px;
  font-weight: bold;
}
footer p{
  font-size: 14px;
}
.socials{
  display: flex;
  justify-content: space-evenly;
}

.attribution{
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: small;
}

.brand-icon{
  background: hsl(257, 27%, 26%);
  border-radius: 50%;
  width: 70px;
  padding: 15px;
  position: relative;
  top: -50px;
}
.brand-icon-3{
  background: hsl(257, 27%, 26%);
  border-radius: 50%;
  width: 78px;
  padding: 15px;
  position: relative;
  top: -50px;
}

/** Url Form */
.form-div{
  padding: 40px;
  margin: -250px auto 100px auto;
  max-width: 85%;
  border-radius: 10px;
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-shorten-desktop.svg);
}
.form-div .btn{
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  width: 17%;
  border-radius: 10px;
}
.form-div .btn:hover{
  background-color: hsl(180, 43%, 71%);
}
.form-div form{
  display: flex;
  justify-content: space-between;
}
form .url-form{
  width: 80%;
  padding: 15px;
  border-radius: 10px;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.error{
  color: hsl(0, 87%, 67%);
  position: absolute;
  font-size: 15px;
  font-style: italic;
}
.error-field {
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  border: 3px solid hsl(0, 87%, 67%);
}

.error-field::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: hsl(0, 43%, 65%);
}
.error-field:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: hsl(0, 43%, 65%);
  opacity: 1;
}
.error-field::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: hsl(0, 43%, 65%);
  opacity: 1;
}
.error-field:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: hsl(0, 43%, 65%);
}

/* New link div */
.new-link{
  padding: 14px 25px 2px 25px;
  margin: -80px auto 90px auto;
  max-width: 85%;
  border-radius: 10px;
  background-color: #fff;
  color: hsl(260, 8%, 14%);
  display: flex;
  justify-content: space-between;
}.new-link a{
  color: hsl(180, 66%, 49%);
}
.new-link p:hover{
  text-decoration: line-through;
  color: hsl(0, 87%, 67%);
  cursor: pointer;
}

.new-link button{
  margin-left: 20px;
  margin-top: -10px;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  padding: 1px 25px; 
  border: none;
  border-radius: 10px;
}
.new-link button:focus{
  outline: 0;
}
.new-link button:focus{
  outline: 0;
}
.new-link button:active{
  background-color: hsl(257, 27%, 26%);
}
.new-link .copied{
  background-color: hsl(257, 27%, 26%);
}


.new-link .btn:hover{
  background-color: hsl(180, 33%, 70%);
}
.copy-div{
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 414px) {
  .ham{
    font-size: 30px;
    display: initial;
  }


  .ad-container{
    flex-direction: column-reverse;
  }
  .stat-flex{
    flex-direction: column;
  }
  #line{
    height: 100px;
    width: 0;
    padding: 4px;
    background-color: hsl(180, 66%, 49%);
    border-top: initial;
    border-bottom: initial;
    border-left: 146px solid rgb(240, 240, 240);
    border-right: 151px solid rgb(240, 240, 240);
  }
  .cols{
    background-color: #fff;
    font-size:medium;
    padding: 5px 30px 30px 30px;
    /* margin: 10px; */
  }
  #fir{
    border: none;
  }
  #sec{
    border: none;
    
  }
  #thir{
    border: none;
  }

  .ad{
    width: 100%;
    margin-left: 0;
    text-align: center;
    padding: 20px;
  }
  
  .ad h1{
    padding-top: 30px;
    font-size: 34px;
    font-weight:bold;
    color: black;
  }
  .ad p{
    text-justify: auto;
  }
  .ad a{
    background-color: hsl(180, 66%, 49%);
    border-radius: 25px;
    padding: 10px 35px;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
  }

  footer{
    text-align: center;
  }
  footer .logo{
    padding-bottom: 30px;
  }
  footer .features{
    padding-bottom: 10px;
  }
  footer .resources{
    padding-bottom: 10px;
  }
  footer .company{
    padding-bottom: 20px;
  }

  .brand-icon{
    background: hsl(257, 27%, 26%);
    border-radius: 50%;
    width: 70px;
    padding: 15px;
    position: relative;
    top: -40px;
    left: 35%;
  }
  .brand-icon-3{
    background: hsl(257, 27%, 26%);
    border-radius: 50%;
    width: 78px;
    padding: 15px;
    position: relative;
    top: -40px;
    left: 35%;
  }

  .form-div{
    padding: 10px;
    max-width: 95%;
  }
  .form-div .btn{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
  }

  .form-div form{
    display: flex;
    flex-direction: column;
  }
  form .url-form{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }

  .new-link{
    max-width: 95%;
    font-size: small;
    padding: 10px 10px 0.5px 10px;
    flex-direction: column;
  }
  .copy-div{
    flex-direction: column;
  }
  .new-link button{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 7px 25px; 
    border: none;
    border-radius: 5px;
  }

  .error{
    color: hsl(0, 87%, 67%);
    position: relative;
    font-size: 15px;
    font-style: italic;
  }
  .error-field {
    width: 100%;
    padding: 5px;
  }

}